webapp example/aufgabe3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="contact">
        <xs:complexType>
            <xs:attribute name="tel" use="required" type="xs:string"/>
            <xs:attribute name="jobtitle" use="required" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="contactlist">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="contact" minOccurs="2" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>